{{#if isInAcceptanceTestMode}}
  {{outlet}}
  {{outlet "modal"}}

{{else}}


  <div class="bgw-fix" style = "position: fixed; top: 0;">
    <div class="background-logo" style = "background: #3347FF;height: 12%;"> {{!-- top line with a logo and name --}}
    
      <a class="item logo" style = "margin-left: 3%"
        href="#"
        target="_blank">
        {{#link-to "index"}}<img class="ui centered image" src="https://i.ibb.co/d76Hcqf/8-DKvpmh-FKw-E.jpg" style = " height:100%; width: 100%" alt="8-DKvpmh-FKw-E" border="0">{{/link-to}}
      </a>
      <div class="page-header-caption" style = "margin-left: 1%"> {{#link-to 'index'}}<a style = "color: white; font-size: 32px;" href="#">EMS</a>{{/link-to}}</div>
      <div style = "margin-left: 26.5%"> {{#link-to 'index'}}<a style = "color: white; font-size: 20px;" >Главная</a>{{/link-to}}</div>
      <div style = "margin-left: 1%">{{#link-to 'i-i-s-e-m-s-organizer-l'}}<a style = "color: white; font-size: 20px;" >Организаторам</a>{{/link-to}}</div>
      <div style = "margin-left: 1%">{{#link-to 'i-i-s-e-m-s-lessor-l'}}<a style = "color: white; font-size: 20px;" >Партнерам</a>{{/link-to}}</div>
    </div>
  </div>
    {{outlet "modal"}}
  
    {{outlet}}
  





{{/if}}
