<h3 class="ui header">{{t "forms.i-i-s-e-m-s-organizer-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form" style = "margin-top: 5%;">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.name
      class=(if (v-get validationModel "name" "isInvalid") "error")
      label=(t "forms.i-i-s-e-m-s-organizer-e.name-caption")
      data-test-i-i-s-e-m-s-organizer-e-name=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "name" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.phoneNumber
      class=(if (v-get validationModel "phoneNumber" "isInvalid") "error")
      label=(t "forms.i-i-s-e-m-s-organizer-e.phoneNumber-caption")
      data-test-i-i-s-e-m-s-organizer-e-phoneNumber=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "phoneNumber" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.eventHost
      class=(if (v-get validationModel "eventHost" "isInvalid") "error")
      label=(t "forms.i-i-s-e-m-s-organizer-e.eventHost-caption")
      data-test-i-i-s-e-m-s-organizer-e-eventHost=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "eventHost" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.mail
      class=(if (v-get validationModel "mail" "isInvalid") "error")
      label=(t "forms.i-i-s-e-m-s-organizer-e.mail-caption")
      data-test-i-i-s-e-m-s-organizer-e-mail=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "mail" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.eventPlan
      class=(if (v-get validationModel "eventPlan" "isInvalid") "error")
      label=(t "forms.i-i-s-e-m-s-organizer-e.eventPlan-caption")
      data-test-i-i-s-e-m-s-organizer-e-eventPlan=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "eventPlan" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.password
      class=(if (v-get validationModel "password" "isInvalid") "error")
      label=(t "forms.i-i-s-e-m-s-organizer-e.password-caption")
      data-test-i-i-s-e-m-s-organizer-e-password=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "password" "message")}}
  </div>
</form>
